<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

</head>
<!--header-->
<header class="main-header" id="header">
  <div class="bg-color">
    <!--nav-->
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
              <span class="fa fa-bars"></span>
            </button>
            <a href="index.html" class="navbar-brand">IWin</a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="mynavbar">
            <ul class="nav navbar-nav">
              <li><a href="#contact">Regresar</a></li>
              <button type="submit" class="btn btn-submit">Cerrar Sesion</button>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--/ nav-->
    <div class="container text-center">
      <div class="wrapper wow fadeInUp delay-05s">
        <h4 class="sub-title">Gestionar Jugador</h4>
      </div>
    </div>
  </div>
</header>
<ul class="menuAdmin">
  <li><a href="gestionarJuego">Lista</a></li>
  <li><a href="actualizarJuego">Registrar</a></li>
  <li><a href="gestionarJuego">Modificar</a></li>
  <li><a href="actualizarJuego">Eliminar</a></li>
</ul>




<p *ngIf="!jugadores"><em>Loading...</em></p>
<form class="form-inline" role="form">
  <div class="form-group">
    <label for="titulo">Titulo</label>
    <input type="text" id="nombre" name="nombre" placeholder="nombre" [(ngModel)]="nombre">
  </div>

  <input (click)="filtrar()" type="submit" value="Buscar">
</form>
<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Foo</td>
      <td>Bar</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Someone</td>
      <td>Youknow</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Iamout</td>
      <td>Ofinspiration</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Yoda</td>
      <td>Skywalker</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Patrick</td>
      <td>Dupont</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Barack</td>
      <td>Obama</td>
    </tr>
    <tr>
      <td>7</td>
      <td>François</td>
      <td>Holland</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Michel</td>
      <td>Popo</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Chuck</td>
      <td>Norris</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Simon</td>
      <td>Robin</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Louis</td>
      <td>Lin</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Zelda</td>
      <td>Link</td>
    </tr>
  </tbody>
</table>






<div *ngIf="jugadores">


  <div class="grid-container" *ngFor="let jugador of jugadores">



    <div class="item2"><img width="100" height="100" src="https://previews.123rf.com/images/tnn103eda/tnn103eda1703/tnn103eda170300007/73489700-jugador-de-f%C3%BAtbol-profesional-de-f%C3%BAtbol-en-acci%C3%B3n-aislado-fondo-blanco.jpg"></div>
    <div class="item3">
      <div>
        <h3>{{ jugador.identificacion}}</h3>
        <h4> {{ jugador.nombre}} {{ jugador.apellidos}}</h4>
        <h4>{{ jugador.fechaNacimiento}}</h4>
        <form id="formulario" class="form-signin">
          <button class="btn btn-primary" (click)="actualizar(jugador.identificacion)">Actualizar</button>

        </form>
      </div>






    </div>



  </div>
  <div *ngIf="seleccionado">
    <app-actualizar-jugador identificacion="{{jugador}}" #actualiza></app-actualizar-jugador>
  </div>
</div>



<footer class="" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 footer-copyright">
        © Bethany Theme - All rights reserved
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bethany
          -->
          Designed by CJM Systems
        </div>
      </div>
      <div class="col-sm-5 footer-social">
        <div class="pull-right hidden-xs hidden-sm">
          <a href="https://www.facebook.com/comite.cot"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!---->
<!--contact ends-->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>











