<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

</head>
<!--header-->
<header class="main-header" id="header">
  <div class="bg-color">
    <!--nav-->
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
              <span class="fa fa-bars"></span>
            </button>
            <a href="index.html" class="navbar-brand">IWin</a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="mynavbar">
            <ul class="nav navbar-nav">
              <li><a href="#contact">Regresar</a></li>
              <button type="submit" class="btn btn-submit">Cerrar Sesion</button>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--/ nav-->
    <div class="container text-center">
      <div class="wrapper wow fadeInUp delay-05s">
        <h4 class="sub-title">Gestionar Jugador</h4>
      </div>
    </div>
  </div>
</header>
<ul class="menuAdmin">
  <li><a href="gestionarJuego">Lista</a></li>
  <li><a href="actualizarJuego">Registrar</a></li>
  <li><a href="gestionarJuego">Modificar</a></li>
  <li><a href="actualizarJuego">Eliminar</a></li>
</ul>



<div class="container">
  <h2>Registrar Jugador</h2>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="identificacion">Identificacion:</label>
      <div class="col-sm-10">
        <input type="text" name="identificacion" placeholder="Ingrese identificacion" [(ngModel)]="identificacion">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="nombre" placeholder="Nombre del jugador" name="nombre" width="200">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="apellidos" placeholder="Apellidos" name="apellidos" width="200">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="fechaNacimiento">Fecha nacimiento:</label>
      <div class="col-sm-10">

        <input type="date" [(ngModel)]="fechaNacimiento" placeholder="Fecha de nacimiento" name="fechaNacimiento" width="175">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="imagen">Fecha nacimiento:</label>
      <div class="col-sm-10">
        <input type="file" [(ngModel)]="imagen" accept="image/x-png,image/gif,image/jpeg" name="imagen" width="175">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" (click)="registrar()" class="btn btn-default">Registrar</button>
      </div>
    </div>
  </form>


</div>

<footer class="" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 footer-copyright">
        © Bethany Theme - All rights reserved
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bethany
          -->
          Designed by CJM Systems
        </div>
      </div>
      <div class="col-sm-5 footer-social">
        <div class="pull-right hidden-xs hidden-sm">
          <a href="https://www.facebook.com/comite.cot"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!---->
<!--contact ends-->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>

