
<div class="container">
  <h2>Registrar Jugador</h2>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="identificacion">Identificacion:</label>
      <div class="col-sm-10">
        <input type="text" name="identificacion" placeholder="Ingrese identificacion" [(ngModel)]="jugador.identificacion">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="jugador.nombre" placeholder="Nombre del jugador" name="nombre" width="200">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="jugador.apellidos" placeholder="Apellidos" name="apellidos" width="200">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="fechaNacimiento">Fecha nacimiento:</label>
      <div class="col-sm-10">

        <input type="date" [(ngModel)]="jugador.fechaNacimiento" placeholder="Fecha de nacimiento" name="fechaNacimiento" width="175">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="imagen">Fecha nacimiento:</label>
      <div class="col-sm-10">
        <input type="file" [(ngModel)]="jugador.imagen" accept="image/x-png,image/gif,image/jpeg" name="imagen" width="175">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" (click)="actualiza()" class="btn btn-default">Actualizar</button>
      </div>
    </div>
  </form>
</div>
